@use "variable" as *;
@use "mixin" as *;
@use "svg" as *;

/*==========================================================
共通
----------------------------------------------------------*/
@mixin layoutBlockHead {
    width: stretch;
    font-size: inherit;
    margin-top: 1em;
    .head {
        img {
            width: 100%;
        }
    }
}
@mixin layoutMovieContents {
    background-color: $main-black;
    color: #fff;
    font-size: inherit;
    padding: 4em 1.8em 2em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em 2em;
    @include sp {
        padding: 4vw 4vw 16vw;
        display: flex;
        flex-direction: column;
        gap: 8vw 0;
    }
    h4 {
        grid-column: span 2;
        font-size: FZ(18);
        font-weight: 700;
        text-indent: 0.5em;
        @include sp {
            text-indent: unset;
        }
    }
    figure {
        font-size: inherit;
        position: relative;
        cursor: pointer;
        @include sp {
            width: stretch;
            margin-inline: 8vw;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            width: 3.6em;
            @include svg-iconMoviePlay("ffffff");
            opacity: 0.8;
        }
        figcaption {
            font-size: FZ(14);
            margin-top: 0.5em;
        }
    }
}
@mixin layoutArticleSchedule {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: stretch;
    gap: 2em 0;
    padding: 2em 0 2em;
    @include sp {
        padding: 4vw 4vw;
    }
    .title_month-number {
        font-size: inherit;
        width: 4.1em;
    }
    .list_month-event {
        position: relative;
        font-size: inherit;
        display: flex;
        flex-direction: column;
        gap: 2em 0;
        @include sp {
            gap: 8vw 0;
        }
        li {
            display: flex;
            gap: 0 1.4em;
            font-size: inherit;
            @include sp {
                flex-direction: column;
                gap: 2vw 0;
            }
            .item_photo {
                font-size: inherit;
                width: 24em;
                @include sp {
                    width: stretch;
                }
                img {
                    aspect-ratio: 1.6;
                    object-fit: cover;
                }
            }
            .item_text {
                font-size: inherit;
                display: flex;
                width: stretch;
                flex-direction: column;
                gap: 1em 0;
                flex: 1;
                @include sp {
                    gap: 1vw 0;
                }
                h5 {
                    font-size: FZ(20);
                    font-weight: 700;
                    line-height: 1.6em;
                    @include sp {
                        font-size: FZ(18);
                    }
                }
                p {
                    font-size: FZ(14);
                    line-height: 2em;
                    letter-spacing: 0.04em;
                    text-align: justify;
                    @include sp {
                        font-size: FZ(16);
                        line-height: 1.6em;
                    }
                }
            }
        }
    }
}
section {
    display: flex;
    flex-direction: column;
    max-width: 84rem;
    align-self: center;
    margin-inline: 2em;
    width: stretch;
    padding-top: 2.4em;
    padding-bottom: 2em;
    @include sp {
        margin-inline: 4vw;
        padding-top: 4vw;
        max-width: unset;
        padding-bottom: 4vw;
    }
    &:not(:last-child) {
        border-bottom: 1px solid #707070;
    }
    h2 {
        font-size: FZ(30);
        font-weight: 600;
        @include sp {
            font-size: FZ(24);
        }
    }
    h3 {
        font-size: FZ(26);
        font-weight: 700;
        @include sp {
            margin-inline: 4vw;
        }
    }
    .h3_sidebar {
        font-size: FZ(14);
        display: flex;
        flex-direction: column;
        text-align: justify;
        line-height: 2em;
        margin-top: 2em;
        gap: 0.5em 0;
        @include sp {
            font-size: FZ(16);
            line-height: 1.6em;
            margin-top: 4vw;
            margin-inline: 4vw;
        }
    }
}
.container-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    img {
        aspect-ratio: 5;
        object-fit: cover;
        width: 100%;
        @include sp {
            aspect-ratio: 3;
        }
    }
}
/*=======================================
年間スケジュール
---------------------------------------*/
.container_top {
    @include Serif;
    margin-top: 1em;
    @include sp {
        margin-top: 0;
    }
    p {
        font-size: FZ(18);
        margin-top: 1em;
        @include sp {
            font-size: FZ(16);
            text-align: justify;
            line-height: 1.6em;
        }
    }
}
/*=======================================
芽吹き・花盛り
---------------------------------------*/
.container_spring {
    .block_head {
        @include layoutBlockHead;
    }
    .movie_contents {
        @include layoutMovieContents;
    }
    article {
        @include layoutArticleSchedule;
    }
}
/*=======================================
新緑
---------------------------------------*/
.container_early-summer {
    .block_head {
        @include layoutBlockHead;
    }
    .movie_contents {
        @include layoutMovieContents;
    }
    article {
        @include layoutArticleSchedule;
    }
}
/*=======================================
深緑
---------------------------------------*/
.container_summer {
    .block_head {
        @include layoutBlockHead;
    }
    .movie_contents {
        @include layoutMovieContents;
    }
    article {
        @include layoutArticleSchedule;
    }
}
/*=======================================
実り・紅葉
---------------------------------------*/
.container_autumn {
    .block_head {
        @include layoutBlockHead;
    }
    .movie_contents {
        @include layoutMovieContents;
    }
    article {
        @include layoutArticleSchedule;
    }
}
/*=======================================
落葉・雪景色
---------------------------------------*/
.container_winter {
    .block_head {
        @include layoutBlockHead;
    }
    .movie_contents {
        @include layoutMovieContents;
    }
    article {
        @include layoutArticleSchedule;
    }
}
